$primary: #E3F2FD;

@import "../node_modules/bootstrap/scss/bootstrap";


body {
  font-family: sans-serif;
}

.navbar {
  &-light {
    background-color: $primary;
  }
}

.card {
  &--eyetest {
    width: 100%;
  }
}
