$primary: #E3F2FD;

@import "../node_modules/bootstrap/scss/bootstrap";


body {
  font-family: sans-serif;
}

.navbar {
  &-light {
    background-color: $primary;
  }
}


.section{
  &-1 {
display: hidden;
  }
  &-2 {
    display: hidden;
  }
  &-3 {
    display: hidden;
  }
  &-4 {
    display: hidden;
  }
  &-5 {
    display: hidden;
  }
  &-6 {
    display: hidden;
  }
}
.hidden {
  display: none !important;
}
.visible {
  display: block !important;
}

.card {
  &--eyetest {
    width: 100%;
  }
}
